<!-- applicationContext.xml -->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd">
    <!-- Creacion de la dependencia -->
    <bean id="miInforme" class="com.example.IoC.inyecciondependencia.Informe">

    </bean>

    <!-- Definición de un bean llamado "miBean" de tipo MiBean -->
    <bean id="miempleado" class="com.example.IoC.primer.DirectorEmpleado">
        <constructor-arg ref="miInforme"/>
    </bean>

    <!-- SecretarioEmpleado
      public void setCreacionInforme(CreacionInforme creacionInforme) {
        this.creacionInforme = creacionInforme;
    }
    <property name="creacionInforme"/>
    la creacion  de la propiedad name se debe a public void setCreacionInforme pero sin el prefijo set
    y con la primera letra en minuscula
     -->
    <bean id="miSecretario" class="com.example.IoC.primer.SecretarioEmpleado">
        <property name="creacionInforme" ref="miInforme"/>
    </bean>

</beans>