<!-- applicationContext.xml -->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- Definición de un bean llamado "miBean" de tipo MiBean -->
    <bean id="miempleado" class="com.example.IoC.primer.DirectorEmpleado">

    </bean>

</beans>